// Basic box shadows
=box-shadow-sm
	box-shadow: 0 $space-sm $space-lg (0 - $space-sm) rgba($color-black, 0.6)

=box-shadow-reg
	box-shadow: 0 $space-reg $space-mid (0 - $space-reg) $color-black

=box-shadow-lg
	box-shadow: 0 $space-mid $space-lg (0 - $space-mid) $color-black

	
// Basic text shadows
=text-shadow-1
	text-shadow: 0 2px $space-xxs rgba($color-black, 1)
=text-shadow-2
	text-shadow: 0 $space-xxs $space-sm rgba($color-black, 1)
=text-shadow-3
	text-shadow: 0 $space-sm $space-reg rgba($color-black, 1)
	