$color: red
$unusedColor: blue

=customBorder
	border: solid 5px #bada55
	border-radius: 100px

.test-card
	background: $color
	color: black
	+customBorder
	width: 50vw

.unusedClass
	font-family: 'Arial'
	color: red
	width: 50vw


.newModuleStlye
	color: lime
	background: cyan
	font-family: 'Unit Slab'